<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.connection.password">haslo123</property>
		
		<mapping class="org.sienkiewicz.quote.Quote"/>
	</session-factory>
</hibernate-configuration>